<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>__game_table_private_cashgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{708,416}</string>
                <key>spriteSourceSize</key>
                <string>{740,444}</string>
                <key>textureRect</key>
                <string>{{2,2},{708,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>--single--game_table_private_cashgame.png</string>
            <key>size</key>
            <string>{712,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e997314989ad062be3bd5e3baad674f3:bfb5d432538b3727b3359d46c7ea7120:aa1326d85d9b45250843e6012fa2ef4d$</string>
            <key>textureFileName</key>
            <string>--single--game_table_private_cashgame.png</string>
        </dict>
    </dict>
</plist>
