<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>__game_table_public_mtt_final.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{704,376}</string>
                <key>spriteSourceSize</key>
                <string>{740,444}</string>
                <key>textureRect</key>
                <string>{{2,2},{704,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>--single--game_table_public_mtt_final.png</string>
            <key>size</key>
            <string>{708,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4bcbaf1da1ca523ac52aa095ec40d81:b72967e9d93195309598e9d3d39e1246:7044db75b634cb0b977d290bc744e5d6$</string>
            <key>textureFileName</key>
            <string>--single--game_table_public_mtt_final.png</string>
        </dict>
    </dict>
</plist>
