<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>__login_ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,12}</string>
                <key>spriteSize</key>
                <string>{570,784}</string>
                <key>spriteSourceSize</key>
                <string>{592,808}</string>
                <key>textureRect</key>
                <string>{{2,2},{570,784}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>--single--login_ad.png</string>
            <key>size</key>
            <string>{574,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5034fff6fc8426bc2526459f7894e452:c6cc3258bbf39f3d825b2134347a148d:ac1b62e07f450c1f399387fda4aa667a$</string>
            <key>textureFileName</key>
            <string>--single--login_ad.png</string>
        </dict>
    </dict>
</plist>
