<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>landing_button_tablemode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,94}</string>
                <key>spriteSourceSize</key>
                <string>{226,94}</string>
                <key>textureRect</key>
                <string>{{86,2},{226,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>landing_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,12}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{276,126},{44,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>landinglanding_icon_tablemode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,188}</string>
                <key>spriteSourceSize</key>
                <string>{254,188}</string>
                <key>textureRect</key>
                <string>{{86,98},{254,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>opening_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,82}</string>
                <key>spriteSourceSize</key>
                <string>{464,82}</string>
                <key>textureRect</key>
                <string>{{2,2},{464,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>opening_text_spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{276,98},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opening_text_underline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,2}</string>
                <key>spriteSourceSize</key>
                <string>{12,2}</string>
                <key>textureRect</key>
                <string>{{304,98},{12,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pkr_landing.png</string>
            <key>size</key>
            <string>{314,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aab7b473a27134dc39202e4e3d4f514c:da3b3b977301cbdc898dde9bb54cfbb4:196d35da89ebdd31782bddbbaa025940$</string>
            <key>textureFileName</key>
            <string>pkr_landing.png</string>
        </dict>
    </dict>
</plist>
