<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pkr_store_bundle_reward_chip_180000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{976,942},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_bundle_reward_chip_30000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,72}</string>
                <key>spriteSourceSize</key>
                <string>{98,72}</string>
                <key>textureRect</key>
                <string>{{1810,924},{98,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_bundle_reward_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,212}</string>
                <key>spriteSourceSize</key>
                <string>{198,212}</string>
                <key>textureRect</key>
                <string>{{606,812},{198,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_bundle_reward_sub_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,202}</string>
                <key>spriteSourceSize</key>
                <string>{188,202}</string>
                <key>textureRect</key>
                <string>{{270,834},{188,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_button_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,72}</string>
                <key>spriteSourceSize</key>
                <string>{158,72}</string>
                <key>textureRect</key>
                <string>{{1882,544},{158,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_chip_bonus_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,72}</string>
                <key>spriteSourceSize</key>
                <string>{140,72}</string>
                <key>textureRect</key>
                <string>{{1882,704},{140,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_equip_discount_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,44}</string>
                <key>spriteSourceSize</key>
                <string>{148,44}</string>
                <key>textureRect</key>
                <string>{{1946,2},{148,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_gifting_discount_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,104}</string>
                <key>spriteSourceSize</key>
                <string>{640,104}</string>
                <key>textureRect</key>
                <string>{{2,256},{640,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_icon_chips1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{100,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{214,890},{100,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_icon_chips2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{1090,942},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_icon_chips3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{124,70}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{1938,152},{124,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_icon_chips4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{1178,800},{124,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_icon_chips5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,86}</string>
                <key>textureRect</key>
                <string>{{1324,848},{124,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_icon_chips6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{124,114}</string>
                <key>textureRect</key>
                <string>{{2,898},{124,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_icon_gold0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{166,128}</string>
                <key>textureRect</key>
                <string>{{1968,776},{96,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_icon_gold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{166,128}</string>
                <key>textureRect</key>
                <string>{{1882,846},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_icon_gold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,94}</string>
                <key>spriteSourceSize</key>
                <string>{166,128}</string>
                <key>textureRect</key>
                <string>{{118,890},{122,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_icon_gold3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{154,94}</string>
                <key>spriteSourceSize</key>
                <string>{166,128}</string>
                <key>textureRect</key>
                <string>{{820,912},{154,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_icon_gold4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,128}</string>
                <key>spriteSourceSize</key>
                <string>{166,128}</string>
                <key>textureRect</key>
                <string>{{1020,812},{156,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_icon_gold5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,130}</string>
                <key>spriteSourceSize</key>
                <string>{166,130}</string>
                <key>textureRect</key>
                <string>{{474,834},{166,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_icon_record_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,88}</string>
                <key>spriteSourceSize</key>
                <string>{118,88}</string>
                <key>textureRect</key>
                <string>{{1206,926},{96,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_icon_record_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{118,88}</string>
                <key>textureRect</key>
                <string>{{1696,932},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_icon_reward_ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,44}</string>
                <key>spriteSourceSize</key>
                <string>{98,44}</string>
                <key>textureRect</key>
                <string>{{1884,904},{98,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_icon_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,56}</string>
                <key>spriteSourceSize</key>
                <string>{118,88}</string>
                <key>textureRect</key>
                <string>{{1172,742},{106,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_icon_ticket_1day.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,56}</string>
                <key>spriteSourceSize</key>
                <string>{118,88}</string>
                <key>textureRect</key>
                <string>{{1266,800},{106,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_limited_sale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,50}</string>
                <key>spriteSourceSize</key>
                <string>{128,50}</string>
                <key>textureRect</key>
                <string>{{108,838},{128,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_nameplate_not_owned.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,98}</string>
                <key>spriteSourceSize</key>
                <string>{198,98}</string>
                <key>textureRect</key>
                <string>{{820,812},{198,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_nametag_y_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,160}</string>
                <key>spriteSourceSize</key>
                <string>{576,160}</string>
                <key>textureRect</key>
                <string>{{1168,2},{576,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_orange_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{106,86}</string>
                <key>textureRect</key>
                <string>{{1296,936},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_product_bg_chip_I.png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,340}</string>
                <key>spriteSourceSize</key>
                <string>{272,340}</string>
                <key>textureRect</key>
                <string>{{1608,164},{272,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_product_bg_chip_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,340}</string>
                <key>spriteSourceSize</key>
                <string>{272,340}</string>
                <key>textureRect</key>
                <string>{{1334,164},{272,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_product_bg_chip_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,340}</string>
                <key>spriteSourceSize</key>
                <string>{272,340}</string>
                <key>textureRect</key>
                <string>{{1334,506},{272,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_product_bg_nameplate_v.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,160}</string>
                <key>spriteSourceSize</key>
                <string>{576,160}</string>
                <key>textureRect</key>
                <string>{{270,256},{576,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_product_bg_nameplate_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,160}</string>
                <key>spriteSourceSize</key>
                <string>{576,160}</string>
                <key>textureRect</key>
                <string>{{432,256},{576,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_shop_item_z_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,160}</string>
                <key>spriteSourceSize</key>
                <string>{576,160}</string>
                <key>textureRect</key>
                <string>{{594,164},{576,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_time_suitcase_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{238,838},{48,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_store_vip_bg_ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,160}</string>
                <key>spriteSourceSize</key>
                <string>{580,160}</string>
                <key>textureRect</key>
                <string>{{586,2},{580,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_store_vip_chips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,82}</string>
                <key>spriteSourceSize</key>
                <string>{120,82}</string>
                <key>textureRect</key>
                <string>{{1666,848},{120,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_bg_joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,160}</string>
                <key>spriteSourceSize</key>
                <string>{576,160}</string>
                <key>textureRect</key>
                <string>{{594,326},{576,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_bg_july4th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,160}</string>
                <key>spriteSourceSize</key>
                <string>{576,160}</string>
                <key>textureRect</key>
                <string>{{594,488},{576,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_bg_lny2022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,160}</string>
                <key>spriteSourceSize</key>
                <string>{576,160}</string>
                <key>textureRect</key>
                <string>{{594,650},{576,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_bg_walloween_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,160}</string>
                <key>spriteSourceSize</key>
                <string>{576,160}</string>
                <key>textureRect</key>
                <string>{{1172,164},{576,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_bg_walloween_chipcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,340}</string>
                <key>spriteSourceSize</key>
                <string>{272,340}</string>
                <key>textureRect</key>
                <string>{{1608,506},{272,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_coupon_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,50}</string>
                <key>spriteSourceSize</key>
                <string>{128,50}</string>
                <key>textureRect</key>
                <string>{{1938,278},{128,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_deck_namecard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,54}</string>
                <key>spriteSourceSize</key>
                <string>{286,54}</string>
                <key>textureRect</key>
                <string>{{1882,152},{286,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_icon_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{1006,912},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{1178,926},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{1192,926},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{820,1008},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{834,1008},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{848,1008},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{862,1008},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{876,1008},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{890,1008},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{904,1008},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{918,1008},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1930,904},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_lo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,44}</string>
                <key>spriteSourceSize</key>
                <string>{116,44}</string>
                <key>textureRect</key>
                <string>{{1956,544},{116,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_icon_multiply.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{932,1008},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_percent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{1006,928},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_icon_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{976,912},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_ribbon_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{106,86}</string>
                <key>textureRect</key>
                <string>{{1404,936},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_ribbon_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{106,86}</string>
                <key>textureRect</key>
                <string>{{1450,848},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_ribbon_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{106,86}</string>
                <key>textureRect</key>
                <string>{{1512,936},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_ribbon_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{106,86}</string>
                <key>textureRect</key>
                <string>{{1558,848},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_tag_3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,14}</string>
                <key>spriteSize</key>
                <string>{86,74}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{1620,936},{86,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_tag_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,102}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{1882,440},{126,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_tag_lightskyblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,74}</string>
                <key>spriteSourceSize</key>
                <string>{92,74}</string>
                <key>textureRect</key>
                <string>{{1788,848},{92,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_tag_percent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,42}</string>
                <key>spriteSourceSize</key>
                <string>{112,42}</string>
                <key>textureRect</key>
                <string>{{1956,662},{112,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_vip_bg_emerald.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,252}</string>
                <key>spriteSourceSize</key>
                <string>{582,252}</string>
                <key>textureRect</key>
                <string>{{2,2},{582,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_vip_bg_sapphire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,160}</string>
                <key>spriteSourceSize</key>
                <string>{580,160}</string>
                <key>textureRect</key>
                <string>{{108,256},{580,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>store_wb_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{118,1014},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store_wb_icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{198,148}</string>
                <key>spriteSourceSize</key>
                <string>{198,196}</string>
                <key>textureRect</key>
                <string>{{1746,2},{198,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pkr_store.png</string>
            <key>size</key>
            <string>{2010,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c74389efc2cc76a8aa817327018569:4bd4f9c721c554ae06d849c2de74c596:0018ac62205e978d140bb0dbb1abdbc3$</string>
            <key>textureFileName</key>
            <string>pkr_store.png</string>
        </dict>
    </dict>
</plist>
