<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pkr_main_button_dailybonus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{998,628},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_button_dailybonus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{998,694},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_button_join.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,122}</string>
                <key>spriteSourceSize</key>
                <string>{324,122}</string>
                <key>textureRect</key>
                <string>{{724,200},{324,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_button_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{924,132},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_button_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1064,668},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_button_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1130,668},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_challenge_games_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,128}</string>
                <key>spriteSourceSize</key>
                <string>{600,128}</string>
                <key>textureRect</key>
                <string>{{386,2},{600,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_challenge_mode_tab_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{1162,148},{116,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_challenge_mode_tab_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,56}</string>
                <key>textureRect</key>
                <string>{{1030,434},{100,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_free_entree_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,64}</string>
                <key>spriteSourceSize</key>
                <string>{144,64}</string>
                <key>textureRect</key>
                <string>{{1162,2},{144,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_game_list_frame_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1064,734},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_game_list_frame_LR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1118,734},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_game_list_frame_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1010,802},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_host_button_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,80}</string>
                <key>textureRect</key>
                <string>{{2,762},{300,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_host_gold_area_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,48}</string>
                <key>spriteSourceSize</key>
                <string>{164,48}</string>
                <key>textureRect</key>
                <string>{{1086,242},{164,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_host_tip_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{904,522},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_icon_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{1172,640},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_icon_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{916,200},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_icon_message_challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{304,762},{64,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_icon_setting_swiping_test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{30,46}</string>
                <key>textureRect</key>
                <string>{{308,828},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_level_exp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,336}</string>
                <key>spriteSourceSize</key>
                <string>{336,336}</string>
                <key>textureRect</key>
                <string>{{386,200},{336,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_level_exp_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,336}</string>
                <key>spriteSourceSize</key>
                <string>{336,336}</string>
                <key>textureRect</key>
                <string>{{378,538},{336,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_level_exp_shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{1172,580},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_level_up_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,374}</string>
                <key>spriteSourceSize</key>
                <string>{374,374}</string>
                <key>textureRect</key>
                <string>{{2,386},{374,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_level_up_shining.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,382}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{2,2},{382,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_message_icon_announcement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{1010,536},{86,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_message_icon_group_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{904,628},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_message_icon_group_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{1088,496},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_message_icon_group_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{1088,582},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_message_icon_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{1088,408},{86,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_message_icon_sng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,84}</string>
                <key>textureRect</key>
                <string>{{904,714},{86,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_message_time_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,30}</string>
                <key>spriteSourceSize</key>
                <string>{192,30}</string>
                <key>textureRect</key>
                <string>{{2,844},{192,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_store_shortcut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{86,112}</string>
                <key>spriteSourceSize</key>
                <string>{86,122}</string>
                <key>textureRect</key>
                <string>{{916,434},{86,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_store_shortcut_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,122}</string>
                <key>spriteSourceSize</key>
                <string>{86,122}</string>
                <key>textureRect</key>
                <string>{{1136,266},{86,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_store_shortcut_event_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,20}</string>
                <key>textureRect</key>
                <string>{{1152,788},{46,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_store_shortcut_event_sale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,20}</string>
                <key>textureRect</key>
                <string>{{1172,734},{48,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_tab_bg_darkgray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,80}</string>
                <key>spriteSourceSize</key>
                <string>{20,80}</string>
                <key>textureRect</key>
                <string>{{1150,390},{20,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_tabs_icon_club_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,50}</string>
                <key>spriteSourceSize</key>
                <string>{74,50}</string>
                <key>textureRect</key>
                <string>{{904,800},{74,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_tabs_icon_mission_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{1172,456},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_tabs_icon_playnow_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,52}</string>
                <key>spriteSourceSize</key>
                <string>{72,54}</string>
                <key>textureRect</key>
                <string>{{956,800},{72,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_tabs_icon_store_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,54}</string>
                <key>textureRect</key>
                <string>{{1172,390},{64,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_tabs_icon_tournament_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{72,54}</string>
                <key>textureRect</key>
                <string>{{1172,518},{60,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pkr_main_tabs_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,98}</string>
                <key>spriteSourceSize</key>
                <string>{2,98}</string>
                <key>textureRect</key>
                <string>{{1224,266},{2,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_tabs_lucky_dip_10m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,94}</string>
                <key>textureRect</key>
                <string>{{916,242},{168,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pkr_main_tabs_lucky_dip_50m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,94}</string>
                <key>textureRect</key>
                <string>{{916,338},{168,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reward_fbfan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,118}</string>
                <key>spriteSourceSize</key>
                <string>{172,118}</string>
                <key>textureRect</key>
                <string>{{988,2},{172,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reward_fblogin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,118}</string>
                <key>spriteSourceSize</key>
                <string>{172,118}</string>
                <key>textureRect</key>
                <string>{{784,526},{172,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reward_fblogin_chips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,118}</string>
                <key>spriteSourceSize</key>
                <string>{172,118}</string>
                <key>textureRect</key>
                <string>{{784,700},{172,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reward_invitefriends.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,118}</string>
                <key>spriteSourceSize</key>
                <string>{172,118}</string>
                <key>textureRect</key>
                <string>{{988,122},{172,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{196,844},{54,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{252,844},{54,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_button_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,66}</string>
                <key>spriteSourceSize</key>
                <string>{290,66}</string>
                <key>textureRect</key>
                <string>{{848,200},{290,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_button_g_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,66}</string>
                <key>spriteSourceSize</key>
                <string>{536,66}</string>
                <key>textureRect</key>
                <string>{{386,132},{536,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_button_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,66}</string>
                <key>spriteSourceSize</key>
                <string>{290,66}</string>
                <key>textureRect</key>
                <string>{{716,538},{290,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_icon_apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{1106,824},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon_attribution.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{848,492},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon_certificate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{1028,760},{40,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_icon_contact.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{716,830},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon_del_account.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{1194,744},{36,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_icon_faq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{1064,788},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon_fb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{760,830},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon_google.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{1064,824},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon_language.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{1108,788},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{1196,706},{36,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_icon_logout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{1196,666},{38,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_icon_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{1174,784},{34,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_icon_notification.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{340,828},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon_table_mode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{958,196},{38,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setting_icon_terms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{992,760},{38,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pkr_main.png</string>
            <key>size</key>
            <string>{1228,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:599fc8be9ef7a898595101e430f73f3f:0870567604d2bd5a02f1699b2be4849f:d60fad09f7e892ab97a7c8226503fb1c$</string>
            <key>textureFileName</key>
            <string>pkr_main.png</string>
        </dict>
    </dict>
</plist>
