<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_chiptable_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,288}</string>
                <key>spriteSourceSize</key>
                <string>{288,288}</string>
                <key>textureRect</key>
                <string>{{2,318},{288,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chiptable_chipcontrol_straddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,288}</string>
                <key>spriteSourceSize</key>
                <string>{288,288}</string>
                <key>textureRect</key>
                <string>{{2,608},{288,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_chiptable_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,120}</string>
                <key>spriteSourceSize</key>
                <string>{288,120}</string>
                <key>textureRect</key>
                <string>{{292,700},{278,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chiptable_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,314}</string>
                <key>spriteSourceSize</key>
                <string>{318,314}</string>
                <key>textureRect</key>
                <string>{{2,2},{318,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_left1_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{108,898},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_left2_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,70}</string>
                <key>spriteSourceSize</key>
                <string>{78,70}</string>
                <key>textureRect</key>
                <string>{{414,700},{78,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_minus_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,82}</string>
                <key>textureRect</key>
                <string>{{434,452},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_plus_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,82}</string>
                <key>textureRect</key>
                <string>{{434,536},{60,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_right1_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,70}</string>
                <key>spriteSourceSize</key>
                <string>{78,70}</string>
                <key>textureRect</key>
                <string>{{414,772},{78,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_right2_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{190,898},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_allin_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{322,2},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_bet_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{322,152},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_call_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{322,302},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>object_bettip_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{2,898},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>object_controlobject_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{434,620},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>object_pointer_chipcontrol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,13}</string>
                <key>spriteSize</key>
                <string>{140,246}</string>
                <key>spriteSourceSize</key>
                <string>{288,288}</string>
                <key>textureRect</key>
                <string>{{292,452},{140,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pkr_control.png</string>
            <key>size</key>
            <string>{496,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5d1738fc9461fe9a693be6de22355c0:c9997045a705bfd6304cc24f2e9ea6a3:4da5739917b407506a19dbb22f4e8143$</string>
            <key>textureFileName</key>
            <string>pkr_control.png</string>
        </dict>
    </dict>
</plist>
