<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>landing_button_tablemode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{450,188}</string>
                <key>spriteSourceSize</key>
                <string>{452,188}</string>
                <key>textureRect</key>
                <string>{{512,168},{450,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>landing_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,14}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{512,358},{88,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>landinglanding_icon_tablemode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,376}</string>
                <key>spriteSourceSize</key>
                <string>{508,376}</string>
                <key>textureRect</key>
                <string>{{2,2},{508,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opening_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{928,164}</string>
                <key>spriteSourceSize</key>
                <string>{928,164}</string>
                <key>textureRect</key>
                <string>{{512,2},{928,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opening_text_spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{964,168},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opening_text_underline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,4}</string>
                <key>spriteSourceSize</key>
                <string>{24,4}</string>
                <key>textureRect</key>
                <string>{{512,374},{24,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>pkr_landing.astc</string>
            <key>size</key>
            <string>{1442,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21ea64903411ad6c41dfcc5b33723107:73fcc415856979cdfa7c3bca7e7915fe:5757b3c907eb549785f488c3d62e9621$</string>
            <key>textureFileName</key>
            <string>pkr_landing.astc</string>
        </dict>
    </dict>
</plist>
